.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
 .login-form {
  width: 400px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}
.login-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 24px;
}